.container {
  border: 1px solid red;
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

.flex-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.flex-box-container img {
  border: 1px solid green;
  padding: 10px;
  height: 40%;
  width: 30%;
  margin: 5px;
}
